# Fuseki configuration for BDRC, configures two endpoints:
#   - /bdrc is read-only
#   - /bdrcrw is read-write
#
# This was painful to come up with but the web interface basically allows no option
# and there is no subclass inference by default so such a configuration file is necessary.
#
# The main doc sources are:
#  - https://jena.apache.org/documentation/fuseki2/fuseki-configuration.html
#  - https://jena.apache.org/documentation/assembler/assembler-howto.html
#  - https://jena.apache.org/documentation/assembler/assembler.ttl
#
# See https://jena.apache.org/documentation/fuseki2/fuseki-layout.html for the destination of this file.

@prefix fuseki:  <http://jena.apache.org/fuseki#> .
@prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
@prefix tdb:     <http://jena.hpl.hp.com/2008/tdb#> .
@prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
@prefix :        <http://base/#> .
@prefix text:    <http://jena.apache.org/text#> .

[] rdf:type fuseki:Server ;
   fuseki:services (
     :bdrcrw
     :bdrcro
   ) .

:bdrcrw rdf:type fuseki:Service ;
    fuseki:name                       "bdrcrw" ;     # name of the dataset in the url
    fuseki:serviceQuery               "query" ;    # SPARQL query service
    fuseki:serviceUpload              "upload" ;   # Non-SPARQL upload service
    fuseki:serviceReadWriteGraphStore "data" ;     # SPARQL Graph store protocol (read and write)
    fuseki:dataset                    :bdrc_text_dataset ;
    .

:bdrcro rdf:type fuseki:Service ;
    fuseki:name                     "bdrc" ;
    fuseki:serviceQuery             "query" ;
    fuseki:serviceReadGraphStore    "data" ;
    fuseki:dataset           		:bdrc_text_dataset ;
    .

:dataset_bdrc rdf:type      tdb:DatasetTDB ;
    tdb:location "/etc/fuseki/databases/bdrc" ;
    tdb:unionDefaultGraph true ;
    .

:bdrc_text_dataset rdf:type     text:TextDataset ;
    text:dataset   :dataset_bdrc ;
    text:index     :bdrc_lucene_index ;
    .

# Text index description
:bdrc_lucene_index a text:TextIndexLucene ;
    text:directory <file:/etc/fuseki/lucene> ;
    text:storeValues true ;
    text:entityMap :bdrc_entmap ;
    .

# Mapping in the index
# URI stored in field "uri"
# rdfs:label is mapped to field "text"
:bdrc_entmap a text:EntityMap ;
    text:entityField      "uri" ;
    text:defaultField     "text" ;
    text:map (
         [ text:field "text" ; text:predicate rdfs:label ]
         ) ;
    .
